.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #000000;
    position: absolute;
    font-family: var(--font-family);
    top: 61px;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2%;
}

.Contact__header {
    color: #fff;
    font-size: 30px;
    text-transform: capitalize;
}

.Contact__boxContainer {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 2%;
    height: auto;
    flex-wrap: nowrap;
    max-width: 100%;
    flex-direction: row; /* Added */
}

.Contact__box {
    background-color: #000000;
    padding: 20px;
    border: #333 1px solid;
    border-radius: 15px;
    width: 45%;
    box-shadow: 0cqh 1px 1px rgba(45, 45, 45, 0.5);
    margin: 1%;
    box-sizing: border-box;
    /* Remove the following CSS */
    /* flex-grow: 1; */
    max-height: 200px; /* Added */
}

.Contact__box h2 {
    margin-bottom: 10px;
    color: #fff;
}

.Contact__box p {
    color: #333;
}

.Contact__button {
    background-color: #fff; /* or any color you prefer */
    color: #000; /* or any color you prefer */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2%;
}

.Contact__button:hover {
    background-color: #e1e1e1; /* or any color you prefer for hover effect */
}

@media (max-width: 768px) {
    .Contact__boxContainer {
        flex-direction: column; /* Stack boxes vertically on smaller screens */
    }

    .Contact__box {
        width: 100%; /* Set box width to 100% on smaller screens */
        max-height: none; /* Remove max-height restriction on smaller screens */
    }

    .Contact__button {
        margin-top: 5%; /* Increase margin-top for buttons on smaller screens */
    }
}
